*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 62.5%;
    font-family: Inter;
}

body{
    background-color: #fff;
}


.nav,
footer{
    display:flex;
    justify-content:space-between;
    align-content: center;
    padding: 22px;
    margin:5px;
}

button{
    background: #0f1952;
    color: #fff;
    font-size:1.4rem;
    padding: 5px ;
    border-radius: 40px;
    width: 150px;
    height: 45px;
}

h1{
    color: #0f1952;
    font-size: 3.4rem;
    font-family: Inter ;
    letter-spacing: .2px; 
    margin-bottom: 15px;
}

.skill{
    font-size: 2.6rem;
    font-weight: 700;
    height: fit-content;
    padding-top: 8px;

}

.hero{
    display: flex;
    flex-direction: column;
    gap: 28px ;
    margin: 8%;
    margin-top: 8%;
}



.tagline{
    font-size: 1.4rem;
    color: #767676 ;
    line-height: 24px;
    width: 308px;
}

.box1{
    background: linear-gradient(#ed9259, #d04f7a);
    font-size: 3.4rem;
    color: white;
    height: 100px;
    border-radius: 20px;
    padding: 6%;
    margin: 8%;
    line-height: 50px;
    align-content: center;
    font-weight: 600;
    align-items: center;
}

.figure{
    align-items: center;
}

img{
    width: 80vw;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
}

i{
    background: linear-gradient(#ed9259, #d04f7a);
    padding: 18px;
    color: #fff;
    border-radius: 50px;
    font-size: 3rem;
    margin-bottom: 18px;
}

.text{
    font-size: 2rem;
    margin-top: 42px;
    line-height: 32px;

}

.grid{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 26px;
    margin: 8%;
    border-radius: 12px;
    box-shadow: rgba(61, 61, 120, 0.1) 0px 7px 28px 0px;
}

h2{
    font-size: 3.2rem;
    margin-bottom: 16px;
}

p{
    font-size: 1.8rem;
    line-height:32px;
    padding-bottom: 25px;
}

.button1{
    font-size: 2rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#ed9259, #d04f7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content{
    margin-top: -50px;
}

.text{
    margin-top: -1px;
}



@media screen and (min-width: 800px) {
    .flex{
        display: grid;
        grid-template: repeat(2,300px)/repeat(2,360px);
        justify-content: center;
        margin: 22px;
        gap:32px 16px;
   
    }

    .text{
        margin-top: 38px;
        padding: 26px;
        font-size:2.6rem;
    }

    h1{
        font-size:3.6rem;
    }

    .tagline{
        font-size:1.6rem;
        width:342px;
        line-height:26px;
        
    }

    .box1{
        background: linear-gradient(#ed9259, #d04f7a);
        font-size: 3.4rem; 
        height: 275.33px;
        margin: 0;
        padding: 0%;


    }

    .nav,
    footer{
        margin: 22px;
    }

    .hero{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 12px;
        
    }   

    .grid{
        justify-content: center;
        align-items: center;
        align-content: center;  
        margin: 0%;

    }

    .fig{
        height: 50vw;
        padding-left: 40px;
 

    }

    img{
        height: 50vw;
        object-fit: contain;
        width: 40vw;

    }

    
    p{
        font-size: 1.7rem;
        line-height:32px;
        padding-bottom: 2px;
        height: 108px;
    }

}

@media screen and (min-width: 1200px) {
    .flex{
        display: grid;
        grid-template: repeat(2,350px)/repeat(3,410px);
        justify-content: center;
        margin: 22px;
        gap:32px 16px;
   
    }

    .hero{
        align-content: center;
        justify-content: center;
        

    }

    img{
    
        padding-left: 102px ;
    }

   
    h1{
        font-size: 4.5rem;
        margin-bottom: 30px;

    }

    .tagline{
        font-size: 1.8rem;
        width:380px;
        line-height: 32px;
        margin-bottom: 18px;
    }

    .nav,
    footer{
        
    }

    




}