*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 62.5%;
    font-family: Inter;
}

body{
    background-color: #fff;
}


.nav,
footer{
    display:flex;
    justify-content:space-between;
    align-content: center;
    padding: 20px;
 
}

button{
    background: #0E173E;
    color: #fff;
    font-size:1.4rem;
    padding: 5px ;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    border: none;
}

.bottom{
    background:linear-gradient(#715cbd, #FF4093);
    color: #fff;
    font-size:1.4rem;
    padding: 5px ;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    border: none;

}

h1{
    color: #0f1952;
    font-size: 3.4rem;
    font-family: Inter ;
    letter-spacing: .2px; 
    margin-bottom: 15px;
}

.skill{
    font-size: 2.6rem;
    font-weight: 700;
    height: fit-content;
    padding-top: 8px;
}

.skill2{
    font-size: 2.6rem;
    font-weight: 700;
    height: fit-content;
    padding-top: 8px;
    color: #fff;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 28px ;
    margin: 8%;
    margin-top: 8%;
}



.tagline{
    font-size: 1.4rem;
    color: #767676 ;
    line-height: 25px;
    width: 308px;
}

.box1{
    background: linear-gradient(#FF6E46, #FF4093);
    font-size: 3.4rem;
    color: white;
    height: 100px;
    border-radius: 20px;
    padding: 6%;
    margin: 8%;
    line-height: 50px;
    align-content: center;
    font-weight: 600;
    align-items: center;
}

.figure{
    align-items: center;
}

img{
    width: 80vw;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
}

i{
    background: linear-gradient(#FF6E46, #FF4093);
    padding: 18px;
    color: #fff;
    border-radius: 50px;
    font-size: 3rem;
    margin-bottom: 18px;
}

.text{
    font-size: 2rem;
    margin-top: 42px;
    line-height: 32px;

}

.grid{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 26px;
    margin: 8%;
    border-radius: 12px;
    box-shadow: rgba(61, 61, 120, 0.1) 0px 7px 28px 0px;
}

h2{
    font-size: 2.6rem;
    margin-bottom: 16px;
}

p{
    font-size: 1.4rem;
    line-height:26px;
    padding-bottom: 25px;
}

.button1{
    font-size: 2rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#FF6E46, #FF4093);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content{
    margin-top: -50px;
}

.text{
    margin-top: -1px;
}

.foot{
    background-color: #0E173E;
}


@media screen and (min-width: 800px) {
    .flex{
        display: grid;
        grid-template: repeat(2,300px)/repeat(2,360px);
        justify-content: center;
        margin: 22px;
        margin-bottom: 65px;
        gap:32px 16px;
   
    }

    .text{
        margin-top: 38px;
        padding: 26px;
        font-size:2.6rem;
    }

    h1{
        font-size:3.6rem;
    }

    .tagline{
        font-size:1.6rem;
        width:342px;
        line-height:26px;
        
    }

    .box1{
        background: linear-gradient(#FF6E46, #FF4093);
        font-size: 3.4rem; 
        height: 275.33px;
        margin: 0;
        padding: 0%;


    }

    .nav,
    footer{
        margin: auto 18px;
    
    }

   

    .hero{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 12px;
        margin-top: -22px;
        
    }   

    .grid{
        justify-content: center;
        align-items: center;
        align-content: center;  
        margin: 0%;

    }

    .fig{
        height: 50vw;
        padding-left: 40px;
 

    }

    img{
        height: 50vw;
        object-fit: contain;
        width: 40vw;

    }

    
    p{
        font-size: 1.6rem;
        line-height:30px;
        padding-bottom: 18px;
        height: 108px;
    }

}

@media screen and (min-width: 1200px) {
    .flex{
        display: grid;
        grid-template: repeat(2,350px)/repeat(3,310px);
        justify-content: center;
        margin: 22px;
        gap:26px 16px;
        margin-bottom: 62px;
   
    }

    .hero{
        align-content: center;
        justify-content: center;
        margin-top: -64px;
        
    }

    img{
        padding-left: 10px ;
    }

   
   
    h1{
        font-size: 3.9rem;
        margin-bottom: 28px;
        line-height: 54px;

    }

    .tagline{
        font-size: 1.8rem;
        width:380px;
        line-height: 32px;

    }

    button{
        
        font-size:1.7rem;
        padding: 5px ;
        border-radius: 40px;
        width: 180px;
        height: 55px;
        border: none;

    }

    .nav,
    footer{
        margin: auto 128px;
        padding-top: 42px;
    }

    p{
        font-size: 1.4rem;
        line-height:26px;
        padding-bottom: 18px;
        height: 108px;
        padding-bottom: 32px;
        padding-top: 10px;
    }

    .text{
        line-height: 38px;
        width: 180px;
    }

    

}

@media screen and (min-width: 1800px) {
    .nav,
    footer{
        margin: auto 300px;
        padding-top: 42px;
    }

    h1{
        font-size: 5.4rem;
        line-height: 70px;
    }

    p{
        font-size:1.7rem;
        padding-bottom: 36px;
        line-height:28px;
    }

    .flex{
        display: grid;
        grid-template: repeat(2,340px)/repeat(3,420px);
        justify-content: center;
        margin-top: -22px;
        gap:22px 16px;
        margin-bottom: 92px;
   
    }

    .box1{height: 311px;}


}
